In [1]:
#dependencies
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [2]:
# load csv of prcp (precipitation) and tobs (temp observations) data
df = pd.read_csv('resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# convert date col dtype from string to datetime
df['date'] = pd.to_datetime(df['date'])
df['date']

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns]

In [4]:
# set date column as index, then drop date column
df.set_index('date', inplace=True, drop=True)

In [5]:
# dropping null values in any columns
df.dropna(how='any', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70

### Compare June and December data across all years

In [6]:
# filter data for june, december for all years
june_df = df[df.index.month == 6]
dec_df = df[df.index.month == 12]

In [7]:
# find average temperature for June
june_mean = june_df['tobs'].mean()
june_mean

74.88754764930114

In [8]:
# find average temperature for December
dec_mean = dec_df['tobs'].mean()
dec_mean

70.93024911032029

In [9]:
# lists of temp data for each month
june_temps = [x for x in june_df['tobs']]
dec_temps = [x for x in dec_df['tobs']]

In [10]:
# examining length of lists
len(june_temps), len(dec_temps)

(1574, 1405)

In [11]:
# if wanting to use a paired t-test, the arrays must be the same length
# a sample from the june temps has to be taken to make the lengths the same
import random

In [12]:
# running the paired t-test 10000 times to see if sampling changes causes change in significance
test_dict = {}
for x in range(0, 10000):
    june_temps_sel = random.sample(june_temps, len(dec_temps))
    results = stats.ttest_rel(june_temps_sel, dec_temps)
    if results[1] <= 0.05:
        test_dict[x] = results[1]
print(f'percentage of statistically significant results: {(len(test_dict)/10000) * 100}% ({len(test_dict)} out of 10000 tests)')

percentage of statistically significant results: 100.0% (10000 out of 10000 tests)

In [13]:
#test_dict

### Analysis

Conducting a paired t-test on all June, and all December temperature data revealed a p-value of under 0.05, suggesting the difference between the average June temperature and the average December temperature is statistically significant. The fact that the results are statistically significant means that the difference in means is strongly likely not to be due to chance. 

However, using this analysis to determine people's experience of the weather at those points in times, other factors should be considered. The average June temperature is approximately 75 degrees Fahrenheit, while the December temperature is approximately 71 degrees Fahrenheit. Both of these temperatures are comfortable temperatures for many people, and may be fairly indistinguishable, all other climate factors being equal. 

Further tests on other climate factors may be warranted, as things such as wind speed, humidity, and rainfall can affect a person's experience of weather. Only two factors can be measured against each other at a time in a t-test, so taking a series of t-tests for each climate factor, and comparing the results together, might be a way to get a fuller picture of what someone's experience of being in Hawai'i during those two months would be. 

<em> Refer to the README for a discussion of why a paired t-test was used in this analysis. </em>